validate elements with xml & DTD/paktech_validate_element.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Paktech (employee|clinte)+>
<!ELEMENT employee (name,(email|number)+,password)>
<!ELEMENT clinte (name,email,password)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT password (#PCDATA)>
<!ENTITY ps SYSTEM "pass1212">
<!ATTLIST email domain CDATA #REQUIRED>